.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 1200px;
  grid-template-areas:
  "header header"
  "nav main";
   grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  gap: 10px;
}

main {
	grid-area: main;
  background-color: turquoise;
}

header .rightBlock {
  float: right;
  margin: 15px 20px;
}

header .userInfo {
  display: flex;
  gap: 5px;
}

header .userInfo img {
  width: 40px;
}

header .links {
  cursor: pointer;
}

header .links a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.form-error {
  color: red;
  font-weight: bold;
}